@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.trans {
  transition: all 300ms ease-in-out;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.gridcc {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.gridcc-2 {
  grid-template-columns: 1fr 1fr;
}

.footer {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 588px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 430px) {
  .text {
    font-size: 2.5rem;
  }
  .text2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 530px) {
  .text2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 879px) {
  .box-7 {
    display: flex;
    justify-items: center;
  }
}

@media screen and (min-width: 880px) {
  .box-8 {
    display: flex;
    justify-items: center;
    gap: 0.25rem;
  }
}
